<div class="form-group">
  <input #search [formControl]="searchControl"  placeholder="search for location"  type="text" class="form-control">
</div>
<br/>
<br/>
<div #myMap></div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker label="you are here" [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-marker *ngFor="let place of nearByPlaces" [latitude]="place.geometry.location.lat()" [longitude]="place.geometry.location.lng()">
    <agm-info-window>{{place.name}}</agm-info-window>
  </agm-marker>
</agm-map>

<ul>
  <li *ngFor="let place of nearByPlaces">{{place.name}}</li>
</ul>

